@model IEnumerable<Clothing>

@{
    ViewBag.Title = "Index";
}

<h2>服裝資料列表</h2>


<table class="table table-bordered table-striped">
    <tr class="bg-dark text-center" style="color:white">
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Target)
        </th>

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Target)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>

        @for (int i = 1; i <= (int)ViewData["Pages"]; i++)
        {
            string active = i == (int)ViewData["Active"] ? "active" : "";

            <li class="page-item @active"><a class="page-link" href="/home/Index/@i">@i</a></li>
        }


        @*<li class="page-item"><a class="page-link" href="/home/Index/1">1</a></li>
            <li class="page-item"><a class="page-link" href="/home/Index/2">2</a></li>
            <li class="page-item"><a class="page-link" href="/home/Index/3">3</a></li>
            <li class="page-item"><a class="page-link" href="/home/Index/4">4</a></li>
            <li class="page-item"><a class="page-link" href="/home/Index/5">5</a></li>*@

        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>